<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Planta Plásticos{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    {% block head_css %}{% endblock %} {# Bloque para CSS específico de páginas hijas #}
</head>
<body>
    {# El contenido del body se define en plantillas hijas #}
    {% block body_content %}{% endblock %} 

    {# Scripts JavaScript #}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    
    {# <script src="{{ url_for('static', filename='js/moment.min.js') }}"></script> #}

    {% block scripts %}{% endblock %} {# Bloque para scripts específicos de páginas hijas #}
</body>
</html>